@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Vazirmatn:wght@100..900&display=swap');

$global-background-color: #412C3A;
$login-button-color: #1E1E1E;
$signup-button-color: #FF3780;
$blue-text-color: #0E9EEF;
$pink-text-color: #EE10B0;
$white-text-color: #FFFFFF;

$page-font-family: 'Vazirmatn', sans-serif;
