.artist {
  margin-left: 30px;
  background: linear-gradient(
    90.22deg,
    #0c0b0b 12.99%,
    rgba(0, 0, 0, 0.0230101) 114.84%
  );
  border-radius: 10px;
  width: 1170px;

  padding-bottom: 30px;
}
