@import "../../styles/variables.scss";
@import "../ui/Button/ButtonMixin.scss";

.sidebar {
  width: 272px;
  min-height: 100%;
  background-color: #0f1a20;
  &__logo {
    display: block;
    padding-left: 27px;
    padding-top: 50px;
    margin: 0;
    font-weight: 800;
    font-size: 40px;
    background: linear-gradient(90.07deg, #ee10b0 -4.82%, #0e9eefeb 127.01%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    user-select: none;
  }
}
