@import "../../styles/variables.scss";

.header-artist {
  position: relative;
  margin-left: 30px;
  margin-top: 20px;
  width: 1170px;
  height: 422px;

  &__image {
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
  }

  &__name {
    margin: 0;
    padding-left: 40px;
    padding-top: 200px;
    font-weight: 900;
    font-size: 90px;

    width: 1100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
