@import '../../styles/variables.scss';

.error-page{
    padding: 50px;
    font-size: 30px;
    margin-top: 13%;
    h1{
        margin-bottom: 15px;
        height: 70px;
        margin-left: 315px;
    }
    p{
       color: $pink-text-color;
       font-style: italic;
       font-size: 40px;
       margin:5px 150px;
       margin-bottom: 15px;
    }
}

.button-page{
    background-color: $login-button-color;
    border: none;
    color: $pink-text-color;
    padding: 15px;
    border-radius: 40%;
    margin-left: 250px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.img-page{
    position: absolute;
    top: 18%;
    left: 40%;
}