@import "../../styles/variables.scss";

.artists {
  padding-left: 20px;
  margin-top: 40px;

  &__block {
    display: flex;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    &--pink {
      color: $pink-text-color;
    }
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__view-all {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $white-text-color;
  }

  &__plus {
    width: 62px;
    height: 62px;
    margin-left: 5px;
    margin-top: 25px;
    background-color: $login-button-color;
    border-radius: 50%;
    padding-top: 1px;
    padding-left: 20px;
    font-weight: 800;
    font-size: 40px;
  }

  &__view-all-text {
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px;
  }

  &__subtitle {
    color: $pink-text-color;
    font-style: italic;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
  }
}
