@import "../../styles/variables.scss";

@mixin customText($weight, $size) {
  font-weight: $weight;
  font-size: $size;
}

.track-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &__index-track {
    padding-top: 6px;
    @include customText(600, 24px);
  }

  &__container {
    display: flex;
    margin-left: 20px;
    background-color: $login-button-color;
    border-radius: 5px;
    width: 1075px;
  }

  &__button {
    display: flex;
    align-items: center;
    padding: 0;

    width: 260px;
    height: 60px;

    border: none;
    cursor: pointer;

    background-color: $login-button-color;
    border-radius: 5px;
    color: $white-text-color;
  }

  &__image {
    object-fit: cover;

    width: 60px;
    height: 60px;
    border-radius: 5px;
  }

  &__title {
    margin-left: 15px;
    width: 200px;
    text-align: start;

    &-song-area {
      margin: 0;
      margin-top: -3px;
      @include customText(600, 20px);

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      cursor: auto;
    }

    &-song {
      cursor: pointer;
    }

    &-author {
      margin-top: 4px;
      margin-bottom: 0;
      @include customText(300, 12px);

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__link-author {
    text-decoration: none;
    color: $white-text-color;
  }

  &__relase-date {
    margin-left: 75px;
    padding-top: 2px;
    width: 145px;
    text-align: center;

    white-space: nowrap;

    @include customText(400, 16px);
  }

  &__label {
    margin-left: 97px;
    padding-top: 2px;

    width: 320px;
    text-align: center;

    @include customText(400, 16px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__button-like {
    background-color: transparent;
    border: none;
    padding: 3px;
    cursor: pointer;
  }

  &__heart {
    margin-left: 40px;
    margin-top: 5px;
    display: flex;
    align-items: center;
  }
}
