@import "../../styles/variables.scss";

@mixin customText($weight, $size) {
  font-weight: $weight;
  font-size: $size;
}

.tracks {
  margin-top: 20px;
  padding-left: 20px;

  &__title {
    margin: 0;
    padding-top: 10px;
    height: 50px;

    @include customText(700, 32px);

    &--pink {
      color: $pink-text-color;
    }
  }

  &__headlines {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    @include customText(400, 20px);
    letter-spacing: 0.3px;
  }

  &__relase-date {
    margin-left: 395px;
    margin-bottom: 0;
  }

  &__labels {
    margin-left: 217px;
    margin-bottom: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__view-all {
    display: flex;
    width: 1120px;
    justify-content: center;

    &-text {
      padding-top: 5px;
    }
  }

  &__link-view {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 216px;
    height: 60px;

    background-color: $login-button-color;
    color: $white-text-color;

    border-radius: 5px;
    border: none;
    margin: 0;
    text-decoration: none;

    @include customText(600, 24px);
    cursor: pointer;
  }

  &__subtitle {
    color: $pink-text-color;
    font-style: italic;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
  }
}
