@import "../../styles/variables.scss";

.music-card {
  width: 180px;
  height: 220px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $login-button-color;
  border-radius: 10px;

  &__button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: $white-text-color;
    text-align: start;
  }

  &__block-image {
    position: relative;
    padding-top: 12px;
    z-index: 1;
  }

  &__image {
    position: absolute;
    top: 0;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-top: 12px;
    z-index: -2;
  }

  &__title-song {
    margin: 0;
    padding-top: 5px;
    width: 150px;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__link-author {
    text-decoration: none;
    color: $white-text-color;
    font-weight: 300;
    font-size: 12px;
  }

  &__title-author {
    margin-top: 3px;
    width: 125px;

    opacity: 0.8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__block {
    display: flex;
  }

  &__notes {
    height: 17px;
    margin-left: auto;
  }

  &__gif-play {
    margin-top: 30px;
  }

  &__darken-layer {
    position: absolute;
    top: 12px;

    width: 150px;
    height: 150px;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    z-index: -1;
  }

  &__img-play {
    margin-top: 35px;
    margin-left: 37px;
  }
}
